# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Spatial manager executable file
*.jar

# stm32 extensions
*.launch
*.ioc
*.mk
*.map
*.list
*.bin
*.elf
*.su
*.o
*.d
*.xml
*.ld
data-acquire/data-reading/Debug/makefile
*.prefs
*.png
data-acquire/data-processing/post-processing/files/tuesdaynight.csv
data-acquire/data-processing/post-processing/files/monday.csv
data-acquire/data-processing/post-processing/files/sunday.csv
data-acquire/data-processing/spatial-manager/files/SpatialLog_21-04-14_00-31-05.anpp
data-acquire/data-processing/post-processing/files/night_multi.csv
*.anpp
*.csv
*.cfg
